<ion-grid style="height: 100%">
  <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
    <div text-center style="justify-content: center;">
      <h1 style="text-align: center; font-weight: bolder; font-family: cursive;">Pulse Generation</h1>

      <img src="assets/icon/logo.jpg" alt='logo'>

      <form>
        <ion-item>
          <ion-input [(ngModel)]="creds.email" name="email" type="text" placeholder="Email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="creds.password" name="password" type="password" placeholder="Password"></ion-input>
        </ion-item>
        <ion-button color="dark" expand="block" (click)="login()">Login</ion-button>
      </form>

      <ion-button color="medium" expand="block" fill="outline" routerLink="/signup">Register</ion-button>

    </div>
  </ion-row>
</ion-grid>