<ion-grid style="height: 100%">
  <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
    <div text-center>

      <img src="assets/icon/m.jpg" alt='logo'>

      <form>
        <ion-item>
          <ion-input type="text" placeholder="Email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" placeholder="Password"></ion-input>
        </ion-item>
        <ion-button color="dark" expand="block" routerLink="/categories">Login</ion-button>
      </form>

      <ion-button color="medium" expand="block" fill="outline">Register</ion-button>

    </div>
  </ion-row>
</ion-grid>