<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-button color="dark" routerLink="">
        <ion-icon name="return-down-back-outline"></ion-icon>
      </ion-button>
      <ion-title>Signup</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formGroup" (ngSubmit)="signupUser(); $event.preventDefault()">

    <ion-item>
      <ion-input formControlName="name" type="text" placeholder="Name*" autocomplete="on"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.name.dirty && formGroup.controls.name.errors" margin-left>Invalid value!</p>

    <ion-item>
      <ion-input formControlName="email" type="text" placeholder="Email*"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.email.dirty && formGroup.controls.email.errors" margin-left>Invalid
      value!</p>

    <ion-item>
      <ion-label stacked style="color:gray;">Type*</ion-label>
      <ion-select formControlName="type">
        <ion-select-option value="1">Person</ion-select-option>
        <ion-select-option value="2">Company</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-input formControlName="register" type="text" placeholder="CPF or CNPJ*"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.register.dirty && formGroup.controls.register.errors" margin-left>
      Invalid value!</p>

    <ion-item>
      <ion-input formControlName="password" type="password" placeholder="Password*"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.password.dirty && formGroup.controls.password.errors" margin-left>
      Invalid value!</p>

    <ion-item>
      <ion-input formControlName="street" type="text" placeholder="Street*"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.street.dirty && formGroup.controls.street.errors" margin-left>Invalid
      value!</p>

    <ion-item>
      <ion-input formControlName="number" type="text" placeholder="Number*"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.number.dirty && formGroup.controls.number.errors" margin-left>Invalid
      value!</p>

    <ion-item>
      <ion-input formControlName="complement" type="text" placeholder="Complement"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input formControlName="neighborhood" type="text" placeholder="Neighborhood"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input formControlName="cep" type="text" placeholder="CEP*"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.cep.dirty && formGroup.controls.cep.errors" margin-left>Invalid value!
    </p>


    <ion-item>
      <ion-input formControlName="phone1" type="text" placeholder="Phone 1*"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.phone1.dirty && formGroup.controls.phone1.errors" margin-left>Invalid
      value!</p>

    <ion-item>
      <ion-input formControlName="phone2" type="text" placeholder="Phone 2"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input formControlName="phone3" type="text" placeholder="Phone 3"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked style="color:gray;">State*</ion-label>
      <ion-select formControlName="stateId" (ionChange)="updateCities()" [(ngModel)]="stateId">
        <ion-select-option *ngFor="let state of states" [value]="state.id">{{state.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked style="color:gray;">City*</ion-label>
      <ion-select formControlName="cityId">
        <ion-select-option *ngFor="let city of cities" [value]="city.id">{{city.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button block type="submit" [disabled]="formGroup.invalid">Create account</ion-button>
  </form>
</ion-content>