<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formGroup" (ngSubmit)="nextPage(); $event.preventDefault()">
    <ion-list>
      <ion-radio-group formControlName="@type">
        <ion-list-header>
          Payment type
        </ion-list-header>
        <ion-item>
          <ion-label>Payment with Card</ion-label>
          <ion-radio checked="true" value="paymentWithCard"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Payment with Slip</ion-label>
          <ion-radio value="paymentWithSlip" formControlName="@type"></ion-radio>
        </ion-item>
      </ion-radio-group>

    </ion-list>

    <ion-item *ngIf="formGroup.value['@type'] == 'paymentWithCard'">
      <ion-label stacked>Card installments</ion-label>
      <ion-select formControlName="installments">
        <ion-select-option *ngFor="let n of installments" [value]="n">{{n}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button color="dark" expand="block" type="submit" [disabled]="formGroup.invalid">Next</ion-button>
  </form>
</ion-content>