<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card fullscreen>
    <ion-img [src]="picture || 'assets/icon/user.jpg'"></ion-img>
  </ion-card>

  <ion-card fullscreen>
    <ion-card-header>
      <ion-card-title style="text-align: center;">{{client?.name}}</ion-card-title>
      <ion-card-subtitle style="text-align: center;">{{client?.email}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card fullscreen>
    <ion-card-header>
      <ion-card-title>Send profile image</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button color="dark" expand="block" (click)="getCameraPicture()" [disabled]="cameraOn">Camera</ion-button>
      <ion-button color="dark" expand="block" fill="outline" (click)="getGalleryPicture()" [disabled]="cameraOn">Gallery</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>